
*{
  margin:0;
  padding:0;
}
*,
::before,
::after{
  box-sizing: border-box;
}
:root{
  --clr-accent-1: turquoise;
  --clr-accent-2: rgb(19, 196, 196);
  --clr-base-1: teal;
  --clr-base-light: rgb(80, 110, 110);
  --clr-neutral-1: white;
  --ff-primary: 'Bebas Neue', cursive;
  --ff-secondary: 'Montserrat', sans-serif;
}

/* Homepage */
.home-page{
  height: 100vh;
  font-family: var(--ff-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page header{
  text-align:center;
  background-color: var(--clr-base-1);
}
.home-title{
  position: relative;
  margin: 3rem 1rem 1rem 1rem;
  font-family: var(--ff-primary);
  font-size: 60px;
  letter-spacing: 0.5rem;
}
.home-title::after{
  position: absolute;
  content:"";
  height: 3px;
  background: var(--clr-accent-2);
  bottom:0;
  left:0;
  width: 100%;


}
.home-text{
  max-width: 40ch;
  padding: 0 1em;
  margin-bottom: 2em;
  line-height: 1.6em;
}

.menu-btns{
  padding: 2em;
  font-size: 18px;
}
.menu-btn{
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  background-color: var(--clr-base-1);
  border-radius: 2em;
  cursor:pointer;
}
.menu-btn:hover{
  background-color: var(--clr-accent-2);
}

.btn-icon{
  font-size: 30px;
  margin-right: 1rem;
}

/* Search Container */
.search-page{
  font-family: var(--ff-secondary);
}
.search-header{
  padding: 2em;
  position: sticky;
  top:0;
  background-color: white;
  box-shadow: 1px 0px 1px black;
  z-index: 1;
  width: 100%;
}
.header-title{
  font-family: var(--ff-primary);
  font-size: 40px;
}
nav{
  display:flex;
  justify-content: space-between;
}
.menu-icon{
  font-size: 40px;
  position: absolute;
}
.menu-icon:hover{
  color: var(--clr-accent-2);
}

.dropdown-container{
  width: 100px;
  position: relative;
  /* background-color:rgb(19, 196, 196); */
}
.dropdown-container:hover .menu-dropdown{
  display: block;
}

.menu-dropdown{
  position: absolute;
  bottom: -190px;
  left: -20px;
  padding: 1em;
  background-color: var(--clr-neutral-1);
  border: 1px solid var(--clr-accent-2);
  border-radius: 1em;
  display: none;
}

.sub-dropdown{
  position: relative;
}
.dropdown-item{
  list-style: none;
  margin-bottom: 0.5em;
}
.dropdown-item:hover{
  color: var(--clr-accent-2);
  /* font-weight: bold; */
  cursor: pointer;
}

.info-section{
  padding: 2em;
  max-width: 60ch;
}
.search-bar-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-base-1);
  margin: 0 auto;
  padding: 2em;
  text-align: center;
}
.search-bar{
  font: var(--ff-secondary);
  padding: 1em;
  border-radius: 1em;
  border-style: none;
  outline: none;
}
.btn{
  margin-top: 1em;
  width: 100px;
  padding: 1em;
  border-radius: 2em;
  border-style: none;
  border: 2px solid var(--clr-neutral-1);
  background-color: var(--clr-base-1);
  color: var(--clr-neutral-1);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  cursor: pointer;
}
.btn:hover{
  border-color: black;
  color: black;
  background-color: var(--clr-accent-1);
}
.back-btn{
  position: fixed;
  bottom:10px;
  left: 10px;
}
.ingredient-btn{
  width: 150px;
  /* border-radius: 1em; */
}
.active-btn{
  background-color: var(--clr-accent-2);
}

.alert-message{
  margin-top: 1em;
  color: white;
}

/* By Ingredient Search */

.alcohol-categories{
  padding: 1em;
}

/* Cocktail List & Info Cards */
.search-results{
  display: flex;
  justify-content: center;
}
.cocktail-cards{
  padding: 1em 0;
  /* display: flex;
  flex-direction: column; */
}

.cocktail-card{
  padding: 1em;
  /* width: 80%; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  cursor: pointer;
  /* margin-bottom: 2em; */
}

.cocktail-label::after{
  content: "";
  height: 3px;
  position: absolute;
  bottom:0;
  left:0;
  background: var(--clr-accent-1);
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.cocktail-card:hover .cocktail-label::after{
  transform: scaleX(1);
}
.cocktail-content{
  padding: 1em;
}
.cocktail-instructions,.cocktail-ingredients{
  max-width: 40ch;
  font-family:var(--ff-secondary);
}
.cocktail-ingredient{
  color: var(--clr-base-light);
}

.cocktail-label{
  position: relative;
  font-family: var(--ff-primary);
  font-size: 40px;
  letter-spacing: 2px;
}

img{
  width: 40%;
  /* width: 100%; */
  max-width: 350px;
  display: block;
  margin: auto 0;
  
}
.cocktail-ingredients{
  padding: 1em 0;
}
.cocktail-ingredient{
  list-style: none;
  margin-bottom: 0.5em;
  font-weight: 500;
  font-size: 14px;
}

/* Cocktail Profile */
.profile-container{
  display: flex;
  justify-content: center;
  /* align-items: center;
  height: 100vh; */
}
.profile-card{
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 1rem;
}
.profile-title{
  margin-bottom: 1rem;
  font-size: 35px;
  font-family: var(--ff-secondary);
}
.profile-img{
  width: 80%;
}

.profile-ingredient{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5em;
  margin-bottom: 0.5em;
}

.ingredient-quantity{
  font-weight: bold;
  grid-column: 1;
}

.ingredient-label{
  grid-column: 2;
}

.cocktail-instructions{
  position: relative;
  font-weight: 300;
  line-height: 1.6em;
}
.cocktail-instructions:hover{
  color: blue;
}

.profile-btns{
  position: absolute;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100%;
  cursor: pointer;
}
.profile-btns .btn{
  margin-right: 2em;
}
.prev-btn, .next-btn{
  font-size: 60px;
}


@media screen and (min-width: 800px){
  img{
    max-width: 400px;
  }
  .profile-ingredients{
    margin: 1em 0;
  }
}

@media screen and (min-width: 1200px){
  /* Cocktail profile */
  .profile-card{
    font-size: 20px;
    display: grid;
    grid-template-columns: 500px 400px;
  }
  .profile-img{
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .profile-title{
    font-size: 45px;
    grid-column: 2;
    grid-row: 1;
  }
  .profile-ingredients{
    grid-column: 2;
    grid-row: 2;
  }
  .cocktail-instructions{
    grid-column: 2;
    grid-row: 3;
  }
  .profile-btns{
    grid-column: 1 / span 2;
    grid-row: 4;
  }
}